<section class="conocimientosClass" id="conocimientos">
    <h1>Conocimientos</h1>
    <ul>
        <li>
            <div class="java">
                <h2>Java</h2>
                <img width="48" height="48" src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png" alt="java-coffee-cup-logo--v1"/>
            </div>
        </li>
        <li>
            <div class="c++">
                <h2>C++</h2>
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/c-plus-plus-logo.png" alt="c-plus-plus-logo"/>
            </div>
        </li>
        <li>
            <div class="sql">
                <h2>SQL</h2>
                <img width="60" height="60" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-sql-coding-and-development-soft-fill-soft-fill-juicy-fish.png" alt="external-sql-coding-and-development-soft-fill-soft-fill-juicy-fish"/>
            </div>
        </li>
        <li>
            <div class="python">
                <h2>Python</h2>
                <img width="48" height="48" src="https://img.icons8.com/color/48/python--v1.png" alt="python--v1"/>
            </div>
        </li>
        <li>
            <div class="html">
                <h2>HTML</h2>
                <img width="48" height="48" src="https://img.icons8.com/color/48/html-5--v1.png" alt="html-5--v1"/>
            </div>
        </li>
        <li>
            <div class="css">
                <h2>CSS</h2>
                <img width="48" height="48" src="https://img.icons8.com/color/48/css3.png" alt="css3"/>
            </div>
        </li>
        <li>
            <div class="mongodb">
                <h2>MongoDB</h2>
                <img width="48" height="48" src="/images/mongoLogo.png" alt="mongoLogo">
            </div>
        </li>
    </ul>
</section>